* {
  box-sizing: border-box; }

.App {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  width: 100vw; }

.livetable_heading {
  font-size: 2em; }

.livetable {
  width: 90%;
  overflow-y: scroll; }

.right_livetable_container {
  width: 95%;
  float: right; }
  .right_livetable_container .calendar_header {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center; }

.header_icons {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center; }

.header_icons img {
  display: inline-block;
  vertical-align: baseline !important;
  margin-left: 20%;
  width: 25px; }

.app_content {
  background: #ECEDF1;
  height: 90vh;
  clear: both; }

.scheduler_add {
  width: 80%;
  height: 15vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end; }

.scheduler_add img {
  width: 40px;
  padding-bottom: 10px; }
