/* .form_open_button{
    position:absolute;
    top:40px;
    right: 40px;
} */
/* .form_button_container{
    z-index: 200;
} */
.form_button_container {
  position: absolute;
  top: 5%;
  right: 5%; }

.modal {
  z-index: 200;
  border-radius: 5px;
  overflow: hidden; }
  .modal .rodal-dialog {
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%); }

.rodal-dialog {
  padding: 0; }

.modal header {
  width: 100%;
  padding: 2% 0;
  margin-bottom: 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: white; }

.modal_heading h3 {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-weight: bold;
  padding: 2% 0; }

.form_add_button {
  font-family: 'Nunito';
  font-weight: 600;
  border: 2px solid #D4D7DD;
  background: white;
  color: #5F5F5F;
  padding: 5% 15%;
  border-radius: 5px; }

.modal_event_logo {
  width: 30px;
  padding-right: 10px; }

.form input {
  display: block;
  width: 70%;
  border-radius: 30px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.6);
  line-height: 2.5em;
  border: none;
  text-align: center;
  margin-bottom: 10px; }

.form button {
  display: block;
  width: 70%;
  margin: 0 auto;
  border-radius: 30px;
  line-height: 2.5em;
  background: #4caf50;
  color: white;
  font-weight: 300;
  border: none; }

.day_select {
  display: block;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  appearance: none;
  border: none;
  border-radius: 30px;
  padding: 0.4em 0;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.6);
  color: #5f5f5f; }
