.single_grid_tile {
  z-index: 100;
  border-radius: 5px;
  margin-bottom: 4px;
  background: white;
  border: 1px solid #d6d9df;
  -webkit-box-shadow: 10px 10px 104px -12px #7c7879;
  -moz-box-shadow: 10px 10px 104px -12px #7c7879;
  box-shadow: 10px 10px 104px -12px #7c7879;
  font-family: 'Nunito';
  font-weight: 700;
  color: #42B8FF; }

.single_grid_tile h3 {
  padding-left: 5%; }
