*{
    box-sizing: border-box;
}

.landing_page{
    background-color:white;
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav_container{
    /* background-color: yellowgreen; */
}


.app_name{
    font-family: 'Fugaz One';
    letter-spacing: 1px;
    font-size: 1.3rem;
    /* background:red; */
    margin-top: 0;
    padding-top: 3%;
    padding-left: 5%;
    font-weight: bold;
}

.left_container{
    width: 50%;
    float: left;
    height: 100vh;
    /* background: darksalmon; */
}

.right_container{
    width: 50%;
    float: right;
    height: 100vh;
    background: rgb(255, 99, 71);
    /* background:white; */
}

.content{
    /* background: tan; */
    margin-top: 15%;
}

.content h1{
    /* background: skyblue; */
    padding-left: 20%;
    font-family: 'Oranienbaum';
    letter-spacing: 1px;
    font-size: 4rem;
    margin-bottom: 3%;
}

.content p{
    /* background: chocolate; */
    font-family: 'Roboto Condensed';
    color: grey;
    width: 65%;
    word-spacing: .4rem;
    line-height: 1.5;
    font-size: 1.3rem;
    margin-left: 21%;
}

.box_container{
    /* background: gold; */
}

.box_rooms{
    font-family: 'Roboto Condensed';
    color: grey;
    position: relative;
    padding-top: 1%;
    padding-bottom: 1%;
    background: white;
    margin-left: 20%;
    width:85%;
    border: 2px solid rgba(155,155,155,0.2);
    border-left: 5px solid yellow;
    padding-left: 10%;
    z-index: 2;
    box-shadow: 47px 76px 300px 1px rgba(0,0,0,0.63);
    /* background: linear-gradient(304deg, #5cb09a, #77c9ca, #d2c561, #cb7bcc);; */
    /* background-size: 800% 800%; */
    /* animation: AnimationName 15s ease infinite; */
    /* animation: border-color 3s infinite alternate-reverse; */
}

.project_references_container{
    margin-top: 3%;
    /* background: greenyellow; */
}

.project_references_inner{
    padding-left: 20%;
}

.project_references_inner svg{
    height: 40px;
    margin-right: 40px;
}

#brown{
    transition: fill 1s;
}

.github_logo:hover #brown{
    transition: fill 1s;
    fill: rgba(0,0,0,1);
}

/* Pusher logo fill class */
.st2{
    fill: rgba(48,13,79,0.3);
}

.st2{
    transition: fill 1s;
}

.pusher_logo:hover .st2{
    transition: fill 1s;
    fill: rgba(48,13,79,1);
}

.made_by_container{
    position: absolute;
    /* background: yellow; */
    bottom:1%;
    left: 10%;
    font-family: 'Oranienbaum';
    color: grey;
}

.made_by_container span{
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
}

/*
================================
= Animations/keyframes
================================
*/

/* @keyframes AnimationName {
    0%{background-position:0% 11%}
    50%{background-position:100% 90%}
    100%{background-position:0% 11%}
}

@keyframes border-color{
    25%{
        border-left-color: salmon;
    }
    50%{
        border-left-color: chartreuse;
    }
    75%{
        border-left-color: royalblue;
    }
    100%{
        border-left-color: hotpink;
    }
    
} */

/* .box_rooms h1{
    background: darkolivegreen;
} */
