.livetable_container {
  background: green;
  overflow-y: visible; }

.styles_time_table_wrapper__1-rtp {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 90% !important;
  overflow-y: scroll;
  width: 80%;
  margin-left: 10%; }
