* {
  box-sizing: border-box; }

.App {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal; }

.livetable_heading {
  font-size: 2em;
  padding-left: 10%; }

.livetable {
  width: 90%;
  overflow-y: scroll; }
