.side_time_container {
  width: 10%;
  float: left;
  color: #D6D9DF; }

.side_time_container p:nth-child(1) {
  padding-top: 15px; }

.side_time_container p {
  height: 60px;
  font-size: 0.8em; }

.side_time_container p {
  text-align: right;
  padding-right: 15%; }
