.side_bar {
  width: 20%;
  float: left;
  height: 100vh; }
  .side_bar .side_bar_svg {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%; }

.side_bar_items {
  list-style: none;
  text-align: center;
  padding-left: 0;
  width: 80%;
  margin: 0 auto;
  margin-top: 30%;
  color: white; }
  .side_bar_items li {
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 30px;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%); }
