.livetable_container{
    background: green;
    // height: 500px;
    overflow-y: visible;
}


.styles_time_table_wrapper__1-rtp{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 90% !important;
    overflow-y: scroll;
    width: 80%;
    margin-left: 10%;
}

.styles_day_title__1y-BE{
    // padding: 40px 0;
    // color: black;
    // background: white;
}
