.search_box{
    position: relative;
    width: 80%;
}

.search_input{
    outline: 0 !important;
    width: 100%;
    float: left;
    height: 10vh;
    margin: 0 15px;
    margin-right: 0;
    border: none;
    border-right: 1px solid #EFEFF3;
}
