.side_bar {
    width: 20%;
    float: left; 
    height: 100vh;
    // background: red; 
  
    .side_bar_svg{
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
    }
  }

  
  }
  