.week_container{
    display: flex;
    width:100%;
    /* height:80vw; */
    background: green;
    overflow: scroll;
}

.day_container{
    /* height: 100%; */
    width: 20%;
    background: yellow;
    border:2px solid black;
    float: left;
}

.day{
    background: white;
}